/** Media Query Mixins, Breakpoints **/
/*** MIXIN: Flexbox ************************************************************/
/**************************
    General Styles
***************************/
*,
*:before,
*:after {
  box-sizing: 0;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

body {
  margin: 0px;
  position: relative;
  width: 100vw;
  overflow-x: hidden; }

.wrapper {
  width: 950px;
  margin: 0 auto; }
  @media (max-width: 899px) {
    .wrapper {
      padding-left: 10px; } }

.panel {
  padding: 0; }
  .panel h1 {
    font-size: 40px;
    font-weight: 600; }
  .panel h2 {
    font-size: 20px;
    font-weight: 600; }
  .panel h3 {
    font-size: 12px; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

ul {
  list-style-type: none; }

li a {
  color: #333;
  border-bottom: 1px solid; }

.container {
  -webkit-box-flex: flex;
  -moz-box-flex: flex;
  -webkit-flex: flex;
  -ms-flex: flex;
  flex: flex;
  /* Combination of flex-direction AND flex-wrap, default is row AND nowrap */
  -webkit-flex-flow: row-reverse nowrap;
  -moz-flex-flow: row-reverse nowrap;
  -ms-flex-flow: row-reverse nowrap;
  flex-flow: row-reverse nowrap; }
  @media (max-width: 899px) {
    .container {
      -webkit-box-flex: flex;
      -moz-box-flex: flex;
      -webkit-flex: flex;
      -ms-flex: flex;
      flex: flex;
      /* Combination of flex-direction AND flex-wrap, default is row AND nowrap */
      -webkit-flex-flow: column-reverse;
      -moz-flex-flow: column-reverse;
      -ms-flex-flow: column-reverse;
      flex-flow: column-reverse; } }

.page-header.panel {
  width: 77%; }
  @media (min-width: 900px) {
    .page-header.panel {
      width: 90%; } }
  @media (min-width: 1640px) {
    .page-header.panel {
      width: 89%; } }

header.page-header {
  height: 200px;
  width: 650px;
  padding-top: 62px;
  padding-left: 70px;
  border: 2px solid white;
  text-transform: uppercase;
  background: #e1cebd;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#e1cebd, #eee3dc);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e1cebd, #eee3dc);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e1cebd, #eee3dc);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e1cebd, #eee3dc);
  /* Standard syntax (must be last) */ }
  header.page-header h1 {
    line-height: 3.1;
    letter-spacing: 1.0rem;
    position: relative;
    left: 43px; }
    @media (max-width: 899px) {
      header.page-header h1 {
        left: -30px; } }
  header.page-header h3 {
    background-color: #7e7f7e;
    padding: 7px;
    letter-spacing: 1.0rem;
    width: 63%;
    padding-left: 15px;
    position: relative;
    right: 9px;
    left: 43px;
    color: #fff;
    text-transform: uppercase; }
    @media (max-width: 899px) {
      header.page-header h3 {
        width: 92%;
        left: -30px; } }
    @media (min-width: 900px) {
      header.page-header h3 {
        width: 71%; } }

.hidden {
  visibility: hidden; }
  @media (max-width: 899px) {
    .hidden {
      position: relative;
      right: 31px; } }

@media (max-width: 899px) {
  .executive-summary-container {
    width: 517px; } }

@media (min-width: 900px) {
  .executive-summary-container {
    width: 636px; } }

@media (min-width: 1640px) {
  .executive-summary-container {
    width: 660px; } }

.executive-summary {
  padding: 25px 0 25px 0px; }
  .executive-summary h2 {
    padding-bottom: 20px;
    text-transform: uppercase; }

.right-container {
  width: 650px;
  padding-left: 15px;
  /* !row! | row-reverse | column | column-reverse */
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 899px) {
    .right-container {
      width: 575px; } }

.resume-item-languages {
  font-size: 14px;
  line-height: 2rem; }

.section-header {
  padding: 20px 0px 20px; }
  .section-header .resume-header {
    text-transform: uppercase; }
  .section-header .resume-header-container {
    -webkit-box-flex: flex;
    -moz-box-flex: flex;
    -webkit-flex: flex;
    -ms-flex: flex;
    flex: flex;
    /* !row! | row-reverse | column | column-reverse */
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    /* flex-start, flex-end, center, baseline, !stretch! */
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start; }

.resume-item-date {
  width: 40%;
  margin-right: 10px;
  padding-top: 6px;
  line-height: 1.5rem; }

.resume-item {
  -webkit-box-flex: flex;
  -moz-box-flex: flex;
  -webkit-flex: flex;
  -ms-flex: flex;
  flex: flex;
  /* !row! | row-reverse | column | column-reverse */
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1.5rem;
  width: 210%; }
  .resume-item .resume-item-title {
    padding: 8px 0px 8px; }
  .resume-item .resume-item-summary {
    padding-bottom: 25px; }
  .resume-item .resume-item-details {
    font-size: 12px; }
  .resume-item .resume-item-languages {
    font-size: 13px;
    padding-bottom: 5px; }
  .resume-item h3 {
    letter-spacing: .1rem; }
  .resume-item .resume-item-list {
    -webkit-box-flex: flex;
    -moz-box-flex: flex;
    -webkit-flex: flex;
    -ms-flex: flex;
    flex: flex;
    /* !row! | row-reverse | column | column-reverse */
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.left-container {
  /* !row! | row-reverse | column | column-reverse */
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  left: 17px;
  width: 54%;
  background-color: #7e7f7e; }
  @media (min-width: 900px) {
    .left-container {
      right: 25px;
      left: 2px;
      width: 265px; } }

aside {
  position: fixed;
  top: 0; }
  @media (max-width: 899px) {
    aside {
      position: relative;
      top: -14px;
      bottom: 29px;
      left: 60px; } }

.avatar {
  width: 158px;
  margin: 31px 0px 0px 100px;
  display: block;
  overflow: hidden;
  border-radius: 100px; }
  @media (min-width: 900px) {
    .avatar {
      width: 182px;
      margin: 19px 0px 0px 43px; } }

.greeting {
  font-family: 'Meddon', cursive;
  font-size: 43px;
  color: #eee3dc;
  position: relative;
  bottom: 10px;
  left: 112px; }
  @media (min-width: 900px) {
    .greeting {
      left: 69px; } }

.greeting-border {
  height: 32px;
  width: 200px;
  border: 3px solid #e1cebd;
  margin: -71px 0px 0px 76px; }
  @media (min-width: 900px) {
    .greeting-border {
      margin: -71px 0px 0px 30px; } }

.resume-contact-container {
  padding: 16px 0px 0px 19px; }
  @media (min-width: 900px) {
    .resume-contact-container {
      padding: 16px 0px 0px 20px; } }

.resume-contact {
  position: relative;
  top: 17px;
  right: -5px; }
  @media (max-width: 899px) {
    .resume-contact {
      position: relative;
      top: 17px;
      right: -13px; } }

.resume-contact-2 {
  padding-left: 40px; }

.resume-contact-3 {
  padding-left: 60px; }

.icon-link-item {
  display: flex;
  position: relative;
  left: 63px;
  padding-bottom: 10px;
  position: relative;
  top: 6px; }
  @media (min-width: 900px) {
    .icon-link-item {
      left: 28px;
      top: 17px;
      padding-bottom: 10px; } }

.link__icon_social {
  text-align: center;
  width: 10px;
  height: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #e1cebd;
  color: #9ea6b3;
  padding: 1.2rem; }

#selectable .ui-selected {
  color: grey; }

.icon-link-item-map {
  padding-left: 67px; }
  @media (min-width: 900px) {
    .icon-link-item-map {
      padding: 16px 0px 24px 20px; } }

.icon-link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  right: 0px;
  bottom: 4px; }

.icon_social {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.personal-summary {
  display: flex;
  width: 77%;
  margin: 0 46px;
  font-size: 12px;
  color: #fff; }
